h1 {
    color: #51AAA5;
    font-weight: bold;
}

nav {
    background-color: white !important;
}

.my-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav a.navbar-brand, button.btn{
    background-color: #51AAA5;
    color: white !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


nav a.navbar-brand {
    font-size: xx-large;
    font-weight: bold;
}

main .background-image{
    z-index: -1;
    position: relative;
    background-image: url("https://storage.needpix.com/rsynced_images/optical-illusion-1301351_1280.jpg");
    opacity: 10%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    padding-bottom: 0px;
    margin-bottom: 0px;

}

form {
    background-color: white;
    padding: 5%;
    margin: 5%, 15%, 5%, 1%;  
}

.btn-xl {
    font-size: large;
    border-radius: 0 !important;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    width: 125px;
    height: 65px;
}

.form-group {
    margin-left: 20px;
    margin-right: 80px;
}

.form-control {
    border-radius: 0 !important;
}

form {
    margin-top: 60px;
}

footer {
    margin-top: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

footer.card-footer {
    padding: 20px 0px 20px 0px;
    background-color: #666666;
    border-top-width: 8px;
    border-top-style: solid;
    border-top-color: #51AAA5;
    text-align: center;
    margin-bottom: 0;

}